<div
  class="min-h-screen bg-gradient-to-br from-slate-950 via-purple-950 to-slate-950"
>
  <app-header></app-header>

  <main class="pt-0.5">
    <section id="home"><app-main></app-main></section>
    <section id="about"><app-about></app-about></section>
    <section id="education"><app-education></app-education></section>
    <section id="certifications">
      <app-certifications></app-certifications>
    </section>
    <section id="skills"><app-skills></app-skills></section>
    <section id="experience"><app-experience></app-experience></section>
    <section id="projects"><app-projects></app-projects></section>
    <section id="contact"><app-contact></app-contact></section>
  </main>
</div>
